@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

#result_list tbody {
    font-family: 'JetBrains Mono', monospace;
}

.readonly pre {
    font-family: 'JetBrains Mono', monospace;
    white-space: pre-wrap;
}

ul.object-tools {
    display: none;
}
